#app {
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}

@font-face {
	font-family: "FuturaPTBold";
	src: url("/assets/Fonts/FuturaPTBold/FuturaPTBold.woff") format("woff"),
		url("/assets/Fonts/FuturaPTBold/FuturaPTBold.woff2") format("woff2"),
		url("/assets/Fonts/FuturaPTBold/FuturaPTBold.eot"),
		url("FuturaPTBold.eot?#iefix") format("embedded-opentype"),
		url("/assets/Fonts/FuturaPTBold/FuturaPTBold.eot") format("truetype");

	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	padding: 1rem;
	position: fixed;
	top: 0;
	z-index: 10;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

body {
	width: 100%;
	height: 100%;
	color: #dfd3c3;
	background-color: #1c1a1a;
	font-family: "Inter", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3 {
	font-family: "FuturaPTBold";
	color: #dfd3c3;
}

p,
ul,
ol,
li {
	font-family: "Inter", sans-serif;
}

ul {
	list-style: none;
}

canvas {
	outline: none;
	object-fit: cover;
	object-position: center;
}

#canvas3d {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
}

#canvas3d-2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100% !important;
	height: 100% !important;
	z-index: 1;
}

.hamburger {
	height: 60px;
	width: 60px;
}

.footer-left {
	position: fixed;
	z-index: 600;
	display: flex;
	left: 0;
	bottom: 0;
	width: 6%;
	height: 100vh;
	padding-top: 23%;
	padding-bottom: 30px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer-p {
	transform: rotate(-90deg);
	margin-bottom: 4rem;
	width: 140px;
}

.footer-home {
	transform: rotate(-90deg);
	margin-top: -15rem;
	font-size: 1.5rem;
}

.footer-home:hover {
	transform: translate(5px, 0%);
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
	transform: rotate(-90deg);
	text-decoration: line-through;
}

.container-fluid {
	height: 100%;
	width: 100%;
	padding: 0 1rem;
}

#accueil {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	padding-bottom: 10%;
}

.social {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	margin-bottom: -2rem;
}

.footer-item {
	margin: 0.5rem 0;
}

.footer-item i {
	font-size: 1.5rem;
}

.footer-item i:hover {
	transform: scale(1.2);
}

.line-home {
	width: 2px;
	height: 15vh;
	background-color: #dfd3c3;
	margin-top: 1rem;
}

.description {
	z-index: 2;
}

.description h1 {
	font-size: 2.5rem;
}

.description p {
	font-size: 1.5rem;
}

.description a {
	margin-top: 1rem;
	border-bottom: 1px solid #fff;
	padding-bottom: 1px;
	padding-top: 0.5rem;
}

.menu-desktop {
	margin-bottom: -40px;
	z-index: 2;
}

.menu-item {
	font-size: 3.8vw;
	font-family: "FuturaPTBold";
	padding: 15px;
}

.menu-item:hover {
	transform: translate(5px, 0%);
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
}

/* About */

#about {
	height: 100%;
	width: 100%;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	margin-top: 5rem;
}

.hello {
	text-align: center;
	font-size: 11.3vw;
	margin-bottom: 30px;
}

.ibra-img {
	width: 55%;
	height: 1000px;
	align-items: center;
	filter: grayscale(100%);
	background: url("/assets/images/ibra_wagon.jpg") no-repeat center center/
		cover;
	border-radius: 5px;
	transition: all 0.5s ease-in-out;
}

.ibra-img:hover {
	filter: grayscale(0%);
	transform: scale(1.1);
	background: url("/assets/images/ibra_wagon.jpg") no-repeat right center/ cover;
}

.front-end {
	top: 75%;
	left: 15%;
	font-size: 7vw !important;
	position: absolute;
}

.developer {
	position: absolute;
	font-size: 7vw !important;
	bottom: -15%;
	right: 20%;
}

/* .sentence {
	transition: all 0.7s ease-out 0s;
	width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	color: rgb(223, 211, 195);
	margin-top: 10%;
	height: 100vh;
} */

.sentence {
	margin: 20% auto;
	font-size: 3vw;
	font-weight: 700;
	max-width: 1500px;
	text-align: center;
}

.stack {
	width: 50%;
	margin-left: 6%;
}

.deploiement {
	height: 500px;
}

.stack + .stack {
	margin-top: 10rem;
}

.stack--back {
	margin-right: 6%;
	margin-left: auto;
}

.stack h2 {
	font-size: 5vw;
	font-weight: 900;
	color: rgb(223, 211, 195);
	text-align: center;
}

.skills-header-line {
	width: 100%;
	height: 4px;
	background: rgb(223, 211, 195);
	transition: width 0.5s ease 0s;
	margin-bottom: 1.3vh;
	margin-top: 1.3vh;
}

.skills-header {
	font-weight: 900;
	font-size: 1.99vw;
	text-align: center;
	color: #d0c5b6;
}

.skills-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.skill-wrapper {
	display: flex;
	flex-direction: column;
	width: 45%;
	justify-content: center;
	align-items: center;
}

.skill {
	display: flex;
	align-items: center;
	padding: 10px;
	justify-content: center;
	width: 100%;
}

.skill > p {
	margin-left: 6%;
}

.skill > img {
	height: 34px;
	width: 34px;
}

/* Projects */
#projects {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.projects-right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.projets-left {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.project-item {
	user-select: none;
}

.project-link {
	padding-bottom: 2%;
	color: rgb(223, 211, 195);
	font-size: 7vw;
	font-family: "FuturaPTBold";
	line-height: 1em;
}

.project-button {
	width: 100%;
}
.project-button a{
  border-bottom: 1px solid #161616;
  width: fit-content;
  padding-bottom: 3px;
}

.project-link:hover {
	transform: translate(5px, 0%);
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
}

.projects-img-wrapper {
	width: 90%;
	height: 400px;
	margin-top: -18%;
	margin-left: 6%;
}

.projects-img {
	height: 100%;
	width: 0;
	/* background: url(./assets/images/projets/Capture.PNG) no-repeat 50% 50%;
	background-size: cover; */
	overflow: hidden;
}

@media (max-width: 900px) {
	.projects-img-wrapper {
		display: none;
	}
	.projects-list {
		grid-area: 1 / 1 / 3 / 3;
	}
}

/* poke-810 */

#poke-810 {
	height: 100%;
	width: 100%;
}
.project-header {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
	background-color: rgb(223, 211, 195);
	margin-left: 6%;
	margin-right: 6%;
}

.project-header-content {
	color: #161616;
	margin-bottom: 5%;
}
.project-header-content h1 {
	font-size: 5vw;
	font-weight: 900;
	color: #161616;
	margin-bottom: 1rem;
}

.project-header-content svg {
	height: 50%;
	width: 50%;
	margin-bottom: 1rem;
}
.project-header-content img {
	/* transform: scale(1.4); */
	height: 50%;
	width: 50%;
	margin-bottom: 1rem;
}

.project-header-content p {
	font-size: 3vw;
	font-weight: 700;
	font-family: "Inter", sans-serif;
	color: #161616;
	margin-bottom: 1rem;
}
.project-content-description {
	transition: all 0.7s ease-out 0s;
	width: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	color: rgb(223, 211, 195);
	/* margin-bottom: 6%; */
	height: 100vh;
}
.project-content-description p {
	font-size: 2.5vw;
	font-weight: 700;
	max-width: 1500px;
	text-align: center;
	width: 90%;
}

.projects-description {
	width: 50%;
	padding-top: 9%;

	margin: 0 auto;
}
.projects-description h2 {
	font-size: 2vw;
}
.projects-description p {
	font-size: 1.5vw;
}

.project-role {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.project-role-right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-right: 6%;
	padding-bottom: 2.5rem;
}

.project-role-right h2 {
	margin-top: 4rem;
	font-size: 5vw;
	font-weight: 900;
	color: rgb(223, 211, 195);
	text-align: left;
}

.project-role-right li {
	font-size: 1.5vw;
	font-weight: 700;
	color: rgb(223, 211, 195);
}

.project-role h2 {
	margin-top: 4rem;
	font-size: 5vw;
	font-weight: 900;
	color: rgb(223, 211, 195);
	text-align: center;
	width: 100%;
}

.project-role li {
	font-size: 1.5vw;
	font-weight: 700;
	color: rgb(223, 211, 195);
}

.project-img-wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.project-img-wrapper-neghborfood {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.project-img-wrapper-neghborfood img {
	width: 20%;
	height: 812px;
	display: block;
	margin: 2rem auto;
}
.project-img-wrapper-neghborfood video {
	width: 20%;
	height: 812px;
	display: block;
	margin: 2rem auto;
}

.project-img-wrapper-neghborfood p {
	font-size: 1.5vw;
	font-weight: 700;
	color: rgb(223, 211, 195);
	margin-top: 1rem;
	text-align: center;
}

.project-img-wrapper img {
	width: 60%;
	height: auto;
	display: block;
	margin: 2rem auto;
}

.project-img-wrapper video {
	width: 60%;
	height: auto;
	display: block;
	margin: 2rem auto;
}
.project-img-wrapper p {
	font-size: 1.5vw;
	font-weight: 700;
	color: rgb(223, 211, 195);
	margin-top: 1rem;
	text-align: center;
}

#contact {
	height: 100vh;
	width: 100vw;
}

.contact-content {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.contact-content h1 {
	font-size: 8vw;
	font-weight: 900;
	margin-left: 6%;
	z-index: 2;
}
.contact-content p {
	font-size: 1.5vw;
	margin-left: 6%;
	z-index: 2;
}
.mail {
	text-decoration: underline;
}
/* Luger */

.lg-cursor .lg-cursor-pointer:nth-child(1):before {
	margin: -20px 0 0 -20px;
	width: 40px;
	height: 40px;
	background: rgba(0, 255, 255, 0.25);
}

.lg-cursor .lg-cursor-pointer:nth-child(2):before {
	background-color: white !important;
}

.lg-cursor .lg-cursor-trail path {
	stroke-width: 8px !important;
}

.lg-preloader {
	display: flex;
	align-items: center;
	background: #aefff7;
	justify-content: center;
	opacity: 1;
	transition: opacity 0.3s linear;
}

.lg-preloader .lg-lottie {
	display: block;
	position: relative;
	width: 200px;
	z-index: 999;
}

.lg-preloader .is-hidden {
	opacity: 0;
}

/* mobile menu */

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0, 0, 0);
	visibility: hidden;
	opacity: 0;
	z-index: 1;
}

.navigation {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	text-align: center;
}

.mobile_menu_list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.mobile_menu_item {
	width: 100%;
}

.mobile_menu_link {
	font-size: 4rem !important;
	color: #dfd3c3;
	text-decoration: none;
	font-family: "FuturaPTBold";
	width: 100%;
}

@media (max-width: 414px) {
	/* Home */
	#canvas3d {
		margin-top: -30px;
	}
	#canvas3d-2 {
		margin-top: -30px;
	}
	.hamburger {
		position: relative;
		width: 7vw;
		cursor: pointer;
		z-index: 2;
	}

	.hamburger line {
		stroke: #dfd3c3;
		stroke-width: 6px;
	}

	.menu-desktop {
		display: none;
	}
	.footer-left {
		display: none;
	}

	#accueil {
		justify-content: center;
		align-items: center;
		margin-bottom: 20%;
	}
	.description {
		margin-bottom: -20%;
	}

	/* About */

	.header {
		margin-top: 7rem;
	}
	.hello {
		font-size: 4rem;
	}
	.ibra-img {
		width: 90%;
		height: 500px;
	}
	.front-end {
		top: 60%;
		left: 5px;
		font-size: 3rem !important;
	}
	.developer {
		position: absolute;
		font-size: 3rem !important;
		bottom: -8%;
		right: 5px;
	}
	.sentence {
		margin: 50% auto;
		font-size: 1.5rem;
	}
	.stack {
		width: 100%;
		margin: 0;
	}
	.stack h2 {
		font-size: 3.7rem;
	}
	.skills-header {
		font-size: 1.5rem;
	}

	/* Projects */
	#projects {
		flex-direction: column-reverse;
	}
	.projets-left {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 300px;
	}
	.projects-right {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 300px;
		width: 100%;
	}
	.project-link {
		padding-bottom: 0;
		color: rgb(223, 211, 195);
		font-size: 3rem;
		line-height: 1.5em;
	}
	.projects-description h2 {
		font-size: 2rem;
	}
	.projects-description {
		width: 50%;
		padding: 20px;
		margin: 0 auto;
		width: 100%;
	}
	.projects-description p {
		font-size: 1.5rem;
	}
	/* contact */
	.contact-content h1 {
		font-size: 5rem;
	}
	.contact-content p {
		font-size: 1.5rem;
	}

	/* project */
	.project-header-content h1 {
		font-size: 3.5rem;
	}
	.project-header-content p {
		font-size: 1.5rem;
		padding-right: 5px;
		padding-left: 5px;
	}

	.project-content-description {
		height: 70vh;
	}
	.project-content-description p {
		font-size: 1.2rem;
	}

	.project-role h2 {
		font-size: 4rem;
	}

	.project-role li {
		font-size: 1.5rem;
	}
	.project-img-wrapper img {
		width: 100%;
	}
	.project-img-wrapper video {
		width: 100%;
	}
	.project-img-wrapper p {
		font-size: 1rem;
	}
	.project-role-right h2 {
		font-size: 4rem;
	}
	.project-role-right li {
		font-size: 1rem;
		text-align: center;
	}
	.project-header-content svg {
		height: 90%;
		width: 90%;
		margin-bottom: 1rem;
	}

	.project-img-wrapper-neghborfood img {
		width: 90%;
		height: 667px;
	}
	.project-img-wrapper-neghborfood p {
		font-size: 1.2rem;
	}
	.project-img-wrapper-neghborfood video {
		width: 20%;
		height: 812px;
		display: block;
		margin: 2rem auto;
	}
}
